@import 'buttons.css';
@import 'navBar.css';
/* @import '../../node_modules/react-pro-sidebar/dist/scss/styles.scss'; */
@import-normalize;


*,
*::before,
*::after {

    box-sizing: border-box;

}

a:link {
    text-decoration: none;
    cursor: pointer;
    border-style: none;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    position: relative;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

html,
body {
    overflow-x: hidden;
    height: 100vh;
}

a.link, a:visited {color:#fff}

table {
    border-collapse: collapse;
}

ul {
    
    list-style-type: none;
    padding: 0; margin: 0; 
}
li {}

.mainMenu {
    position: fixed;
    left: 0;
    top: 50px;
    background: #222;
    color: #fff;
    width: 250px;
    height: 100vh;
    z-index: 776;
    padding-top: 50px;
    transition: .2s;
    overflow: hidden;
}

.mmCollapse {
    width: 60px;
    transition: .2s;
}

.mainDiv {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px rgb(56 60 67 / 5%), 0 1px 3px 0 rgb(56 60 67 / 15%);

}


.container {
    position: relative;
    top: 80px;
    padding: 20px;
    width: 100%;

}

.boxShadow {
    box-shadow: 0 0 1px rgb(56 60 67 / 5%), 0 1px 3px 0 rgb(56 60 67 / 15%);
}

.md {}

@media(min-width: 768px) {
    .container {
        left: 20px;
    }
}

@media(min-width: 768px) {
    .container {
        left: 250px;
    }
}